{# templates/course/last_four_courses.html.twig #}

{% extends 'site.html.twig' %}

{% block title %}Derniers cours{% endblock %}
{% block custum_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        .small-box {
            margin-bottom: 20px; /* Ajouter une marge en bas */
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Accueil</h1>
            </div>
        </div>
        <div class="row">
            {% if lastFourCourses is not empty %}
                {% for viewHistory in lastFourCourses %}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="card-body">
                            <div class="small-box bg-light">
                                <div class="inner">
                                    <label class="h3">{{ viewHistory.course.label }}</label>
                                    <p>
                                        <i class="fa-solid fa-calendar-days"></i> {{ viewHistory.dateView | date('Y-m-d H:i:s') }}
                                        <i class="fa-solid fa-eye"></i> {{ viewHistory.course.views }}
                                    </p>
                                </div>
                                <a href="{{ url('app_course_details', {id: viewHistory.course.id}) }}" class="small-box-footer">
                                    Reprendre le cours <i class="fas fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-warning" role="alert">
                    Aucun cours disponible pour le moment.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
