{% extends 'site.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Accueil</h1>
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4 p-5">
                    <h5 class="card-header">Derniers cours vus</h5>
                    <div class="row">
                        {% if lastFourCourses is not empty %}
                        {% for viewHistory in lastFourCourses %}
                        <div class="col-md-6 mb-3">
                            <div class="card shadow-none bg-transparent border border-primary h-100">
                                <div class="card-body">
                                    <h5 class="card-title">{{ viewHistory.course.label }}</h5>
                                    <p>
                                        <i class="menu-icon tf-icons bx bx-calendar"></i> Vu le : {{ viewHistory.dateView | date('Y-m-d H:i:s') }} <br>
                                        <i class="menu-icon tf-icons bx bx-book-heart"></i> {{ viewHistory.course.views }} Vu
                                    </p>
                                    <hr class="my-3">
                                    <div class="col-md-6 mb-3">
                                        <a href="{{ url('app_course_details', {id: viewHistory.course.id}) }}">
                                            <button type="button" class="btn rounded-pill btn-primary">Reprend</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                            <div class="alert alert-warning" role="alert">
                                Aucun cours disponible pour le moment.
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4 p-5">
                    <h5 class="card-header">Cours préférés</h5>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="card shadow-none bg-transparent border border-warning h-100">
                                <div class="card-body">
                                    <h5 class="card-title">Primary card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make
                                        up.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="card shadow-none bg-transparent border border-warning h-100">
                                <div class="card-body">
                                    <h5 class="card-title">Primary card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make
                                        up.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="card shadow-none bg-transparent border border-warning h-100">
                                <div class="card-body">
                                    <h5 class="card-title">Primary card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make
                                        up.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="card shadow-none bg-transparent border border-warning h-100">
                                <div class="card-body">
                                    <h5 class="card-title">Primary card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make
                                        up.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block custum_css %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <style>
            .small-box {
                margin-bottom: 20px;
            }
        </style>
    {% endblock %}
