{% macro main_page_header (title) %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h2>{{ title | upper }}</h2>
            </div>
        </div>
    </div>
</div>
{% endmacro %}