<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SQLI ProLearn - {% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('imgs/favicon.ico') }}">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </body>
</html>
