{# templates/udemy/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Les cours Udemy</title>
</head>
<body>
<h1>Les cours Udemy</h1>
<ul>
    {% for course in courses %}
        <li>{{ course.title }}</li>
        <!-- Affichez d'autres détails du cours ici -->
    {% endfor %}
</ul>
</body>
</html>
